body {
  font-family: cursive;
  background-color: rgb(174, 252, 255);
}

.header_div {
  background: white;
  color: rgb(255, 88, 116);
}

.header_div p {
  font-family: "Roboto" sans-serif;
  color: gray;
  letter-spacing: 2px;
  font-size: 12px;
  font-weight: bold;
}

.main_div button {
  font-family: "Roboto" sans-serif;
  margin-top: 30px;
  width: 130px;
  font-weight: bolder;
  letter-spacing: 3px;
}

#footer {
  text-align: center;
}

#note {
  font-size: 15px;
}
